.form {
  margin: 20px;
  
}

form input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: start;
    border-radius: 5px;
}

button {
    float: left;
    margin-left: 0;
    border-radius: 10px;
    padding: 10px;
    background-color: #13293d;
    color: white;
    font-weight: bolder;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: white;
    color: #13293d;
}
.container {
  margin: 0% 0% 1% 0%;
  max-width: 300px; /* Adjust as needed */
}

label {
  display: block;
  font-weight: bold;
  text-align: start;  
} 
.label.message textarea{
    height: 50px;
}

